h1, h2, h3, h4 {
  padding: 10px 0 10px 0;
}

table tr td {
  text-align: center;
}

.navbar {
  background-color: #20232a;
  color: #ffffff;
  font-weight: bold;
}

#character {
  margin: 0 auto;
}

.stat-desc {
  font-size: 8px;
  line-height: 10px;
}

table#feats tr td {
  width:50%;
}

table#statistics {
  border: 1px solid #20232a;
  padding: 20px;
}

table#statistics tr td {
  line-height: 14px;
}

table#statistics tr td.stat-label {
  background-color: #000000;
  color: #ffffff;
  width: 50px;
}

input.stat-value {
  width: 60px;
}

*:focus {
  outline: none;
}

input.stat-modifier {
  width: 50px;
}

#levels {
  border: 1px solid #20232a;
  padding: 20px;
}

#levels tbody tr:nth-child(even){
  background-color: #e2e2e2;
}

#levels tbody tr:nth-child(odd){
  background-color: #f2f2f2;
}
